/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center content and set background */
body {
    background-color: #131633;
    color: #bdaf95;
    
}

/* Header styling */
header {
    display: flex;

    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

/* Title styling */
.title {
    font-size: 2.5rem;
    color: #442121;
    background: #534223;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 40px 80px rgba(201, 119, 13, 0.2);
}

/* Recipe buttons container */
.recipe-buttons {
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 200px;
    flex-direction: column;
    gap: 10px;
}

/* Styling for each button */
.button {
    display: block;
    padding: 15px 25px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #dbd3ca;
    background-color: #122335;
    border-radius: 5px;
    box-shadow: 0 8px 10px #bd3c3c(54, 15, 15, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #312415;
    transform: translateY(-2px);
}

.header-font {
    color: #bd3c3c;
}