/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center content and set background */
body {
    background-color: #131633;
    color: #bdaf95;
    
}

/* Header styling */
header {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 2.5rem;
    color: #d19692;
    background: linear-gradient(135deg, #534223, #776644);
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(201, 119, 13, 0.3);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    transform: perspective(500px) rotateX(10deg);
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
}

.title:hover {
    transform: perspective(500px) rotateX(0deg) translateY(-5px);
    box-shadow: 0 20px 40px rgba(201, 119, 13, 0.5);
}



/* Recipe buttons container */
.recipe-buttons {
    margin-top: 200px;
    margin-right: 200px;
    margin-left: 200px;
    flex-direction: column;
    gap: 10px;
}

/* Styling for each button */
.button {
    display: block;
    padding: 15px 25px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    color: #dbd3ca;
    background-color: #122335;
    border-radius: 5px;
    box-shadow: 0 8px 10px #bd3c3c(54, 15, 15, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #312415;
    transform: translateY(-2px);
}

.header-font {
    color: #bd3c3c;
}